[submodule "external/skilltree"]
	path = external/skilltree
	url = https://github.com/grindinggear/skilltree-export
[submodule "external/atlas"]
	path = external/atlas
	url = https://github.com/grindinggear/atlastree-export
